<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Awesome App</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <script src="https://cdn.tailwindcss.com"></script>

  </head>
  <body class="min-w-[100vw] min-h-[100vh] bg-black text-white">
    {{{body}}}
  </body>
</html>