<p>Login first lolz: <a href="/login">Login</a></p>
<p>No acc? <a href="/register">Register</a></p>
<h1>Hi {{name}}!</h1>
<form action="/logout?_method=DELETE" method="post"><button
    type="submit"
  >Logout</button></form>