<div class="flex space-x-2 justify-end pr-2 text-xl"><a href="/login">Login</a>
  <div>|</div>
  <a href="/register">Register</a></div>

<div class="grid place-content-center gap-y-5 min-h-[100vh] text-6xl font-bold">
  <h2>Random Quiz!</h2>
  <a class="justify-self-center" href="/login"><button
      class="bg-white text-black py-5 px-10 rounded-lg max-w-fit justify-self-center"
    >Start</button></a>
</div>